@font-face {
    font-family: 'Rubik';
    src: url('../assets/Fonts/Rubik-VariableFont_wght.ttf') format('woff2');
  }

@font-face {
    font-family: 'Rubik-Italic';
    src: url('../assets/Fonts/Rubik-Italic-VariableFont_wght.ttf') format('woff2');
  }

@font-face {
    font-family: 'Rubik-Light';
    src: url('../assets/Fonts/static/Rubik-Light.ttf') format('woff2');
}



