@media screen and (min-width: 768px) {

    .logo-container {
        padding-left: 48px;
    }

    .barra-lateral {
        display: none;
    }

    .navbar {
        display: block !important;
    }

    .img-container {
        display: block !important;
        /* Use !important para garantir que essa regra prevaleça */
    }

    .section-beneficios__container {
        display: flex;
        flex-direction: row;
    }

    .card-titulo-servico__titulo,
    .card-titulo-servico__sub-titulo {
        font-size: 3.5em;
        line-height: 45px;
    }

    .form-lead__title-container {
        max-width: 50%;
        justify-content: center;
        margin: 0 auto;
        line-height: 25px;
    }

    .form-lead__title-container h1 {
        font-size: 3.5em;
    }

    .form-lead__title-container h2 {
        display: block !important;
    }

    .form-container__form ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        gap: 20px;
        margin-bottom: 1em;
    }

    .form-container__textarea textarea {
        height: 210px;
    }

    .form-container__btn-area {
        display: flex;
        justify-content: flex-end;
    }

    form [type="submit"] {
        width: 15%;
    }
}