:root {
    font-family: 'Rubik';
    font-size: 16px;
    background-color: #242424;
    --cor-azul-turquesa: #00b4e8;
    --cor-azul-vibrante: #3264ff;
    --cor-azul-turquesa-escuro: #0c9dc7;
    --cor-cinza: #3f3f3f;
    --cor-preto: #1c1c1c;
    --cor-black-piano: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
form [type="submit"] {
    font-family: 'Rubik';
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Header */
.intro {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto 1fr auto;
    background-color: var(--cor-preto);
    height: 56px;
}

.barra-lateral {
    padding: 16px 12px;
    cursor: pointer;
    height: 55px;
    width: 48px;
    left: 0;
    top: 0;
}

.svg-bar-icon {
    color: rgba(249, 249, 249, 1);
}

.svg-bar-icon:hover {
    color: rgba(249, 249, 249, 0.8199999928);
}

.logo-container {
    padding-left: 0;
}

.logo {
    padding: 8px 4px 8px 0px;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {    
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    padding: 16px 12px;
    font-size: 14pt;
    color: rgba(249, 249, 249, 1);
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgba(249, 249, 249, 0.8199999928);
}

.lupa-container {
    width: 48px;
    padding: 16px 12px;
}

.svg-lupa-icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    fill: rgba(249, 249, 249, 1);
}

.svg-lupa-icon:hover {
    fill: rgba(249, 249, 249, 0.8199999928);
}

/* SectionBeneficios */
.section-beneficios {
    background-color: var(--cor-cinza);
    padding-top: 3.125em;
}

.section-beneficios__container,
.section-form-lead__container {
    margin: 0 auto;
    max-width: 75%;
    padding-top: 3.125em;
    padding-bottom: 3.125em;
}

.card-titulo-servico {
    line-height: 32px;
}

.card-titulo-servico__titulo,
.card-titulo-servico__sub-titulo {
    font-size: 2.375em;
}

.card-titulo-servico__titulo {
    color: var(--cor-azul-turquesa);
}

.card-titulo-servico__sub-titulo {
    color: white;
}

.descricao-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.descricao {
    color: white;
}

.destaque {
    color: var(--cor-azul-turquesa);
}

.beneficios h2 {
    color: white;
}

.titulo-beneficio {
    color: var(--cor-azul-turquesa);
}

.beneficio {
    color: white;
    margin-top: 20px;
}

/* SectionFormLead */
.section-form-lead {
    background-color: var(--cor-preto);
}

.form-lead__title-container {
    text-align: center;
}

.form-lead__title-container h1 {
    color: var(--cor-azul-turquesa);
    font-size: 2.375em;
    margin-bottom: 0.5em;
}

.form-lead__title-container h2 {
    color: white;
    margin-bottom: 0.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    align-items: center;
}

.form-container__form ul {
    list-style: none;
}

.form-container__form ul li {
    margin: 10px auto;
}

.form-container__form ul li input {
    height: 50px;
    padding: 0.9375em;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    width: 100%;
}

.form-container__textarea {
    width: 100%;
    display: flex;
}

.form-container__textarea textarea {
    border-radius: 20px;
    border: none;
    resize: none;
    margin-bottom: 1em;
    padding: 0.825em;
    font-size: 1em;
    height: 100px;
    width: 100%;
}

form [type="submit"] {
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 100%;
    background-color: var(--cor-azul-turquesa);
    color: white;
    text-transform: uppercase;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
}

form [type="submit"]:hover {
    cursor: pointer;
    color: rgba(249, 249, 249, 1);
    font-weight: bolder;
    transform: scale(1.1);
    border-color: var(--cor-azul-turquesa-escuro);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #3264ff;
}

#mensagem-agradecimento {
    color: white;
    display: none;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s ease; /* Adiciona uma transição suave de 0.5 segundos */
    top: 50%; /* Ajusta a posição verticalmente */
    left: 50%; /* Ajusta a posição horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o card */
    padding: 20px;
    background-color: var(--cor-preto);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 9999; /* Certifica-se de que o card esteja sobreposto a outros elementos */
    border: 2px solid var(--cor-cinza);
}
